<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Geo.Grid.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Geo.Grid.Common.Properties.Settings>
            <setting name="Geo_Grid_Common_Gis_WSQueryAddr"
                serializeAs="String">
                <value>http://addr.tgos.nat.gov.tw/addrws/v30/QueryAddr.asmx</value>
            </setting>
        </Geo.Grid.Common.Properties.Settings>
    </applicationSettings>
</configuration>