body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 280px;
}
 */

.w130 {
    width: 130px;
}
.w150 {
    width: 150px;
}
.w215 {
    width: 215px;
}
.pad20 {
padding: 20px;
}
.pad10 {
padding: 10px;
}

.tabbable {
margin: 10px;
min-height:300px;
border-bottom: 1px solid #ccc;
}

.nav-tabs {
    margin: 0;
}

.tab-content {
    height: 100%; 
    border-left: 1px solid #ccc ; 
    border-right: 1px solid #ccc;
    min-height:300px;
    /*border-bottom: 1px solid #ccc;*/
}

