
div#footer {
    background: #434953;
}
div#footer > div {
    max-width: 580px;
    width: 100%;
    margin: 0px auto;
}
div#footer > div img {
    float: left;
    margin: 38px 15px 38px 0;
}
div#footer > div span {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    margin: 38px 0;
}

@media only screen and (max-width: 639px) {
    div#footer {
        text-align: center;
        padding: 15px
    }
    div#footer > div img {
        float: none;
        display: block;
        margin: 0 auto 15px auto;
    }
    div#footer > div span {
        margin: 0 auto;
        font-size: 12px;
    }
 
}