@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home" style="min-height: 200px;">
    <h2 style="font-size: 28px;">您所要求的網頁不存在。Not Found!</h2>
    <p style="margin: 20px;">十秒後將幫您導回首頁！或者直接<a href="/Home/Index">回首頁</a></p>
</div>

@section scripts{

    <script type="text/javascript">
    $(function () {
        window.setTimeout(function () {
            window.location.href = "@Url.Action("Index","Home")";
        }, 10000);
    });
    </script>
}