@model int?
@{
    IDictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("class", "control-label");

    IDictionary<string, object> htmlAttributes2 = new Dictionary<string, object>();
    htmlAttributes2.Add("type", "number");
    htmlAttributes2.Add("class", "form-control");
    htmlAttributes2.Add("maxlength", "100");


    int max = 999999;
    int min = 0;

    htmlAttributes2.Add("max", max);
    htmlAttributes2.Add("min", min);

    string id = ViewData.ModelMetadata.PropertyName;
}

<div class="control-group">
    @Html.Label("", htmlAttributes)
    <div class="controls" style="width:15%;">
        @Html.TextBox("", Model.HasValue ? Model : 0, htmlAttributes2)
    </div>
</div>
