@{
    IDictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("class", "control-label");

    IDictionary<string, object> htmlAttributes2 = new Dictionary<string, object>();
    htmlAttributes2.Add("class", "span2");


    string id = ViewData.ModelMetadata.PropertyName;
    string val = ViewData.TemplateInfo.FormattedModelValue.ToString();

    List<ListItem> ListItems = new List<ListItem>();

    if (ViewData[id] != null) { ListItems = (List<ListItem>)ViewData[id]; }

    List<ListItem> ListItems_Chained = new List<ListItem>();

    if (ViewData[id + "_chained"] != null) { ListItems_Chained = (List<ListItem>)ViewData[id + "_chained"]; }

}
<script type="text/javascript">
    $(document).ready(function () {
        $("#@(id)").chained("#@(id + "_chained")");
    });
</script>

<div class="control-group">
    @Html.Label("", htmlAttributes)
    <div class="field">
        @if (ListItems.Count > 0)
        {
            @Html.SelectListChained(id, ListItems_Chained, ListItems, htmlAttributes2)
        }
        <span class="help-inline"></span>
    </div>
</div>
